<h1>Welcome to Realtime, the tracker for your Hard work!</h1>
<p>
  This is a site dedicated to helping you track all of your hours worked, mental and physically on the board.
</p>
<p>
  Should you start to think about work be sure to log into this first to start logging your time so you dont have to worry about it!
</p>

<p>To get started <%= link_to "Click Here!", punchcards_path %></p>
